.img-button:hover {
    cursor: pointer;
}

.parallax-container-home {
    background-image: url("./assets/backgrounds/loop_background_01_grey.webp");
    background-attachment: fixed;
    animation: cube-scrolling 15s linear infinite;
    height: 100%;
}
  
@keyframes cube-scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 768px -768px;
    }
}